<div class="outerbox">
  <div class="innerbox" *ngIf="waterWordsList.length > 0">
    <div class="input-container">
      <input type="text" name="search" id="search" placeholder="" [(ngModel)]="searchTerm"
             (keyup)="onKeyUp()" #inputField>
      <span class="close-button material-symbols-outlined" (click)="clearInput(inputField)">close</span>
    </div>
    <div #scrollContainer class="list--wrapper" *ngIf="filteredWaterwords.length>0 ; else noWordsFound">
      <div *ngFor="let waterword of filteredWaterwords" class="list--list-item">
        <span class="list--word">{{this.service.capitalizeFirstLetter(waterword[0])}}</span>

        <p><span *ngIf="waterword[1]" class="list--synonym">{{waterword[1]}} - </span><span
          class="list--definition">{{waterword[2]}}</span></p>

      </div>
    </div>
    <ng-template #noWordsFound>
      <div class="list--wrapper">
        <div class="list--list-item">
          <p class="list--definition">Geen woorden gevonden gelijk aan "{{this.searchTerm}}"</p>
        </div>
      </div>
    </ng-template>
  </div>
</div>

