<div class="outerbox">
  <div class="innerbox">
    <input type="text" name="search" id="search" placeholder="Zoek een woord" [(ngModel)]="searchTerm" (keyup)="onKeyUp()">
    <div class="list--wrapper" *ngIf="filteredWaterwords.length>0; else noWordsFound">
    <div  *ngFor="let waterword of filteredWaterwords" class="list--list-item">
      <span class="list--word">{{this.service.capitalizeFirstLetter(waterword[0])}}</span>

      <p ><span *ngIf="waterword[1]" class="list--synonym">{{waterword[1]}} - </span><span class="list--definition">{{waterword[2]}}</span></p>

    </div>
    </div>
    <ng-template #noWordsFound>
      <h2>No words found</h2>
    </ng-template>

