
a {
  color: var(--color-white)!important;
  cursor: pointer !important;
}
.nav-link.active{
  background-color: var(--color-light);
}

.nav-pills {
  list-style-type:none;
}

.nav-link {
  all:unset;
  text-underline: none;
  padding: 10px;
  border-radius: 15px;
  color: var(--color-white)
}

.active-nav-link {
  background: var(--color-light);
}

.nav-pills {
  display: flex;
  flex-direction: row;
  gap:20px
}

.flex-collumn {
  flex-direction: column;
}

.li {
  display: block;
}





