<app-header/>
<div class="menu outerbox" [ngClass]="{'showMenu': menuToggle }">
  <div class="innerbox innerbox-nav">
  <app-nav-links (action)="onNavClick()" [isFlexColumn]="true"/>
  </div>
</div>
<div class="hamburger" (click)="toggleMenu()">
  <span [ngClass]="{'closeIcon': menuToggle }" class="material-symbols-outlined">menu</span>
  <span [ngClass]="{'closeIcon': !menuToggle }" class="material-symbols-outlined">close</span>
</div>
<app-list-page *ngIf="toggleComponent"/>
<app-info-page *ngIf="!toggleComponent"/>

