<div class="outerbox">
  <div class="innerbox">
    <div class="info-innerbox">
      <h2>Over ‘een Waal van Woorden’ </h2>
      <p>Deze app is onderdeel van “<em>Een Waal van Woorden</em>“, een werk van beeldend kunstenaar <a
        href="http://everdienbreken.org/" target="_blank" rel="noreferrer noopener">Everdien Breken.</a> Het werk maakt
        van de woorden uit deze app een virtuele rivier die over een scherm rolt, een korte preview vind je <a
          href="http://www.visual-art-research.com/2020/10/waal-van-woorden/" target="_blank" rel="noreferrer noopener">hier</a>.
        De ‘Waal’ is een ode aan de lange geschiedenis die wij Nederlanders hebben met het water.</p>
      <p>Een terugkerend thema in Everdien’s werk is het Nederlandse landschap en de manier waarop wij daarmee omgaan.
        Ze
        is gefascineerd door de gedachte dat het Nederlandse landschap als vanzelfsprekend gemaakt en hermaakt kan
        worden.
        Dit idee van maakbaarheid is in de Nederlandse cultuur zo vanzelfsprekend dat de gedachte zelf bijna onzichtbaar
        is. Maar ze is óók diep geworteld in het bewustzijn van ‘de Nederlander’ – een paradigma van waaruit men in
        Nederland ziet, denkt en handelt.</p>
      <p>Tijdens een wandeling die ze maakte rond de molens van Kinderdijk dook een vraag bij haar op: hoeveel woorden
        heeft de Nederlandse taal eigenlijk voor ‘water’? Uit haar hoofd had Everdien er al snel een twintigtal, en via
        een paar handige sites kon ze er meer vinden. Véél meer. Oude woorden als ‘ee’, lange woorden als
        ‘waterspaarbekken’, nieuwe woorden als ‘wadi’.</p>
      <p>Ze beet zich er in vast, die waterwoorden. Uiteindelijk vond ze er meer dan duizend. Allemaal woorden die
        situaties beschrijven van stilstaand of bewegend water op of onder het aardoppervlak. Ze splitste de woorden op
        in
        twee categorieen: ‘door de mens gemaakt’ en ‘door de natuur gemaakt’.</p>
      <p>Ze beet zich er in vast, die waterwoorden. Uiteindelijk vond ze er meer dan duizend. Allemaal woorden die
        situaties beschrijven van stilstaand of bewegend water op of onder het aardoppervlak. Ze splitste de woorden op
        in
        twee categorieen: ‘door de mens gemaakt’ en ‘door de natuur gemaakt’.</p>
      <p>Everdien Breken (1960) heeft Geodesie gestudeerd aan de Technische Universiteit Delft (1987) en Fine Art aan de
        Masteropleiding van de Hogeschool voor de Kunsten Utrecht (2010). Op dit moment doet zij een PhD aan de
        Universiteit van Leuven / LUCA school of arts.</p>
      <p>Contact: <a href="mailto:e.c.breken@gmail.com">e.c.breken&#64;gmail.com</a>
      </p>
    </div>
  </div>
</div>
